.revised {
  display: flex;
  flex-direction: column;
  width: 1361px;
  height: 732px;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 32px 0px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(190, 228, 233, 1) 0%,
    rgba(129, 190, 219, 1) 100%
  );
}

.revised .frame {
  display: flex;
  height: 732px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.revised .frame-wrapper {
  position: relative;
  width: 841px;
  height: 696px;
}

.revised .div {
  display: flex;
  flex-direction: column;
  width: 841px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.revised .response-picture {
  display: flex;
  height: 445px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #8897a433;
  border-radius: 15px;
  border: 0.5px solid;
  border-color: #7673da;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
}

.revised .image {
  position: relative;
  flex: 1;
  flex-grow: 1;
  aspect-ratio: 1.48;
  object-fit: cover;
}

.revised .conversation-textbox {
  height: 227px;
  align-items: center;
  gap: 12px;
  padding: 18px;
  background-color: #d2fdff73;
  border-radius: 15px;
  border: 0.5px solid;
  border-color: #0affa9;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.revised .div-wrapper {
  align-items: flex-start;
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.revised .frame-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.revised .frame-3 {
  display: flex;
  flex-direction: column;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 9px;
  position: relative;
  background-color: #75757533;
  border-radius: 25px;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
}

.revised .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.revised .frame-4 {
  display: flex;
  flex-direction: column;
  width: 776px;
  align-items: flex-start;
  gap: 1px;
  position: relative;
  margin-right: -25.00px;
}

.revised .text-wrapper-2 {
  align-self: stretch;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.revised .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.revised .conversation-textbox-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 69px;
  margin-bottom: -18.00px;
}

.revised .frame-5 {
  display: flex;
  width: 829px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.revised .frame-6 {
  display: flex;
  flex-direction: column;
  width: 776px;
  align-items: flex-start;
  gap: 1px;
  position: relative;
}

.revised .frame-7 {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.revised .text-wrapper-3 {
  width: fit-content;
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.revised .iphone-spinner {
  position: relative;
  width: 16px;
  height: 16px;
}

.revised .text-wrapper-4 {
  position: relative;
  width: 148px;
  height: 17px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #eb3223;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.revised .frame-8 {
  display: flex;
  flex-direction: column;
  width: 434px;
  align-items: flex-end;
  gap: 22px;
  position: relative;
}

.revised .response-text-frame {
  position: relative;
  width: 422px;
  height: 266px;
  background-color: #8897a433;
  border-radius: 15px;
  border: 0.5px solid;
  border-color: #7673da;
}

.revised .text-wrapper-5 {
  position: absolute;
  width: 87.86%;
  height: 51.13%;
  top: 14.29%;
  left: 12.14%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #30618b;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.revised .robot {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 444px;
}

.revised .group {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 444px;
}

.revised .img {
  position: absolute;
  width: 97.93%;
  top: 0;
  left: 2.07%;
  height: 428px;
  aspect-ratio: 0.96;
}

.revised .rectangle {
  position: absolute;
  width: 9.91%;
  height: 6.53%;
  top: 0;
  left: 0;
  background-color: #94cadf;
}

.revised .rectangle-2 {
  position: absolute;
  width: 18.20%;
  height: 47.30%;
  top: 14.86%;
  left: 3.23%;
  background-color: #8ec7de;
}

.revised .rectangle-3 {
  position: absolute;
  width: 18.20%;
  height: 22.02%;
  top: 39.09%;
  left: 6.40%;
  background-color: #8ec7de;
  transform: rotate(-26.80deg);
}

.revised .group-2 {
  position: absolute;
  width: 42.08%;
  top: 101px;
  left: -8.29%;
  height: 165px;
  background-image: url(./img/image-6.png);
  background-size: 100% 100%;
}

.revised .image-2 {
  position: absolute;
  top: -34px;
  left: -69px;
  width: 256px;
  height: 256px;
  aspect-ratio: 1;
  object-fit: cover;
}